<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <servlet>
        <servlet-name>ChildController</servlet-name>
        <servlet-class>hw2_smale_project.servletManyToMany.ChildController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ChildController</servlet-name>
        <url-pattern>/child</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SectionController</servlet-name>
        <servlet-class>hw2_smale_project.servletOneToMany.SectionController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SectionController</servlet-name>
        <url-pattern>/section</url-pattern>
    </servlet-mapping>

</web-app>